/* ul{
    list-style-image: url("../images/1.jpg") ;
} */

/* ul{
    list-style-type: none;
    padding: 0%;
    border: 2px solid gray;
} */

/* ul{
    padding: 8px 16px;
    border-bottom: 1px solid gray;
} */

ol{
    background-color: aqua;
    padding: 15px;
}

ol li{
    background-color: tomato;
    padding: 10px;
    margin-left: 60px;

}

ul{
    border-left: 5px solid green;
    list-style-type: none;
    background-color:aqua;
    padding: 12px ;
    font-size: 20px;
}

table{
    border-collapse: collapse;
}

td,th{
    border:1px solid black;
    padding: 15px;
}


div{
    overflow: scroll;
    background-color: aqua;
    height: 200px;
    width: 200px;

}
table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    text-align: left;
    padding: 10px;

}

tr:nth-child(even){
    background-color: #ffe5e5;
}