#static-position{
    position: static;
    border: 3px solid darkblue;
    padding: 20px;
    width: 250px;
    height: 250px; 
 
}

#relative-position{
    position: relative;
    border: 3px solid darkblue;
    padding: 20px;
    width: 250px;
    height: 250px; 
    left: 200px;
    top: 20px;
 
}

#fixed-position{
    position: fixed;
    border: 3px solid darkblue;
    padding: 20px;
    width: 250px;
    height: 250px; 
    right: 200px;
    top: 20px;
 
}

#parent{
position: relative;
width: 250px;
height: 200px;
border: 3px solid blue;
}

#child{
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: aqua;
    left: 70px;
    top: 30px;
    color: white;
}