.btn1{
    color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn2{
    color: red;
    width: 100px;
    height: 200px;
    
}

.btn3{
    color: red;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid red;
}
