.sprite{
    background: url(../images/houses.png) no-repeat;
}

.engineer{
    height: 500px;
    width: 500px;
    display: inline-block;
    /* background-position: 0 0; */
    background-position: -500px -500px;
}

a[href="https://digitalschool.eu/"]{
    color: pink;
}

p[class*="ds"]{
    background-color: darkblue;
    color: aliceblue;
    padding: 20px;
}

div[id~="ds"]{
    background-color: darkblue;
    color: aliceblue;
    padding: 20px;
}

img[title^="2"]{
    border: 2px solid aqua;
}

h1[class|=heading]{
    background-color: darkblue;
    color: aliceblue;
    padding: 20px;
}

input[placeholder$="name"]{
    border: 2px solid red;

}

input[readonly]{
    border: 2px solid green;
}